<title>{% block title %}Login{% endblock %}</title>

<link href="../static/css/loginstyle.css" rel="stylesheet">

<meta name="theme-color" content="#7952b3">
<link href="../static/css/signin.css" rel="stylesheet">

<body class="text-center">

<main class="form-signin">
  <form class="login-form" id="msgForm" style="max-width: 360px" action="#" method="POST">
    <img class="mb-4" src="../static/logo/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please Enter Your Name</h1>


    <div class="form-floating">
      <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name">
      <label for="floatingPassword">Name</label>
    </div>

    <div class="checkbox mb-3">

    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" >Start</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
  </form>
</main>



  </body>
</html>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>